@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: light;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

.dark {
  color-scheme: dark;
}

::selection {
  background-color: color-mix(in srgb, var(--color-primary) 20%, transparent);
}

@layer base {
  * {
    @apply scrollbar-thumb-primary scrollbar-track-secondary;
  }
}

@theme {
  /* Catppuccin Latte */

  --color-background: #eff1f5;
  --color-foreground: #4c4f69;

  --color-card: #e6e9ef;
  --color-secondary: #dce0e8;

  --color-muted: #e6e9ef;
  --color-muted-foreground: #6c6f85;

  --color-primary: #8839ef;
  --color-primary-foreground: #ffffff;

  --color-accent: #7287fd;

  --color-border: #ccd0da;
  --color-input: #ccd0da;
  --color-ring: #8839ef;

  /* Typography */

  --font-sans: "Geist Variable", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Geist Mono Variable", ui-monospace, "SFMono-Regular", monospace;
}


/* Catppuccin Mocha */

.dark {
  --color-background: #1e1e2e;
  --color-foreground: #cdd6f4;

  --color-card: #181825;
  --color-secondary: #313244;

  --color-muted: #181825;
  --color-muted-foreground: #a6adc8;

  --color-primary: #cba6f7;
  --color-primary-foreground: #1e1e2e;

  --color-accent: #b4befe;
  --color-border: #585b70;
  /* --color-border: #313244; */
  --color-input: #45475a;
  --color-ring: #cba6f7;
}